.main-container {
  max-width: 1400px;
  margin: 18px auto 50px auto;
  display: flex;
  justify-content: space-between;
}

.post-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 1060px;
  margin-right: 20px;
}

