.main-container {
  max-width: 100%;
  margin: 18px auto 50px auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 710px) {
  .main-container {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1080px) {
  .main-container {
    max-width: 1040px;
  }
}

@media only screen and (min-width: 1400px) {
  .main-container {
    max-width: 1400px;
  }
}
