.nav-container {
  width: 100%;
  box-sizing: border-box;
  min-height: 80px;
  background: linear-gradient(to right, #2626FB, #2699FB);
}

.nav-content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}

.nav-title-and-prices {
  max-width: 1400px;
}

.nav-title {
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*text-decoration: underline;*/
  /*color: white;*/
  /*height: 36px;*/
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-title img {
  height: 20px;
}

.nav-right {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steem-label,
.sbd-label {
  color: #73bcfd;
  font-weight: bold;
  margin-left: 30px;
}

.steem-price,
.sbd-price {
  font-size: 14px;
  word-spacing: 10px;
}

.question-button {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 30px;
  /*width: 14px;*/
  /*height: 14px;*/
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  /*background-color: white;*/
}

.ticker-arrow {
  height: 8px;
  margin-bottom: 2px;
}

.rotated {
  transform: rotate(180deg);
}

@media only screen and (min-width: 710px) {
  .nav-content {
    max-width: 700px;
  }

  .nav-title img {
    height: 30px;
  }
}

@media only screen and (min-width: 1080px) {
  .nav-content {
    max-width: 1040px;
  }

  .nav-title {
    font-size: 45px;
  }

  .nav-title img {
    height: 30px;
  }

  .steem-price,
  .sbd-price {
    font-size: 16px;
  }

  .nav-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-content {
    max-width: 1400px;
  }

  .nav-title img {
    height: 36px;
  }

  .steem-price,
  .sbd-price {
    font-size: 18px;
  }
}