.large-post-tile {
  width: 1060px;
  height: 400px;
  background-color: white;
  grid-row: 1;
  grid-column: 1 / 4;
  box-shadow: 0 0 15px var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.large-post-tile:hover {
  box-shadow: 0 0 15px var(--dark-shadow);
}

.large-post-tile img {
  width: 726px;
  /*height: 400px;*/
  margin-top: -40px;
}

.large-post-tile:first-child a {
  height: 400px;
}

.post-body-preview {
  font-size: 14px;
  /*margin-bottom: 20px;*/
  width: 305px;
  /*padding: 0 10px 0 20px;*/
}

.large-tile-content-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 324px;
  padding-left: 20px;
}

img.upvote-img {
  height: 10px;
  width: 10px;
  /*margin-bottom: 2px;*/
  display: inline-block;
}

.post-tile-stats {
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 0 2px;
}

/*.post-tile-tags {*/
  /*font-size: 14px;*/
/*}*/

.post-tile-tag {
  display: inline-block;
  box-sizing: border-box;
  color: #66affc;
  height: 30px;
  border: 1px solid #a0cffd;
  background-color: #eff8ff;
  border-radius: 5px;
  font-size: 13px;
  padding: 0 10px;
  margin-right: 9px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.post-tile-tag-list {
  height: 34px;
  overflow: hidden;
  margin: 0 10px 10px 0;
}

/*.large-tile-image {*/
  /*position: relative;*/
  /*width: 100%;*/
  /*text-decoration: none;*/
  /*color: var(--text-color);*/
/*}*/

/*.large-tile-content-preview {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*top: 110px;*/
  /*left: 50px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-items: flex-start;*/
/*}*/

/*.large-tile-title,*/
/*.large-tile-body-preview,*/
/*.large-tile-tag {*/
  /*width: 600px;*/
/*}*/

.large-tile-title {
  background-color: var(--text-color);
  color: white;
  font-family: 'Source Serif Pro', serif;
  font-size: 35px;
  /*font-weight: bold;*/
  padding: 20px;
  margin: 10px 10px 10px -90px;
}

/*.large-tile-body-preview span {*/
  /*background-color: var(--text-color);*/
  /*color: white;*/
  /*font-size: 15px;*/
  /*line-height: 30px;*/
  /*padding-left: 2px;*/
/*}*/

/*.large-tile-tag span {*/
  /*color: var(--text-color);*/
  /*background-color: white;*/
/*}*/
