.large-post-tile {
  width: 700px;
  height: 400px;
  background-color: white;
  grid-row: 1;
  box-shadow: 0 0 15px #d3ebfe;
  display: none;
}

.large-post-tile:hover {
  box-shadow: 0 0 15px #bdd3e4;
}

.large-post-tile img {
  width: 700px;
  height: 400px;
}

.large-tile-image {
  position: relative;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: var(--text-color);
}

.large-tile-content-preview {
  position: absolute;
  width: 100%;
  top: 110px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.large-tile-title,
.large-tile-body-preview,
.large-tile-tag {
  width: 600px;
}

.large-tile-title span {
  background-color: white;
  font-family: 'Source Serif Pro', serif;
  font-size: 35px;
  padding-left: 4px;
  font-weight: bold;
}

.large-tile-body-preview span {
  background-color: var(--text-color);
  color: white;
  font-size: 15px;
  line-height: 30px;
  padding-left: 2px;
}

.large-tile-tag span {
  color: var(--text-color);
  background-color: white;
}

@media only screen and (min-width: 710px) {
  .large-post-tile {
    grid-column: 1 / 3;
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  .large-post-tile {
    grid-column: 2 / 4;
  }
}
