.post-feed {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  width: 100%;
  /*padding: 0 20px;*/
}

.post-tile:nth-child(1) {
  display: none;
}

.post-tile:nth-child(2) {
  display: flex;
}

.post-tile:hover {
  box-shadow: 0 0 15px var(--dark-shadow);
  background-color: white;
}

@media only screen and (min-width: 1080px) {
  .post-tile:nth-child(2) {
    display: none;
  }

  .post-tile:nth-child(1) {
    display: flex;
  }

  .post-feed {
    grid-template-columns: repeat(3, 1fr);
    width: 1060px;
    /*padding: 0;*/
  }
}

@media only screen and (min-width: 1410px) {
  .post-feed {
    margin-right: 20px;
  }
}