.post-tile {
  box-shadow: 0 0 15px #d3ebfe;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.post-tile:hover {
  box-shadow: 0 0 15px #bdd3e4;
  background-color: white;
}

.post-content-preview {
  padding: 10px 25px 15px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 193px;
}

.post-tile-title {
  font-size: 20px;
  font-weight: bold;
  /*margin-bottom: 20px;*/
}

.post-body-preview {
  font-size: 12px;
  /*margin-bottom: 20px;*/
  width: 100%;
}

.post-tile-stats {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0 2px;
}

.post-tile-tags {
  font-size: 14px;
}

.post-tile-value {
  font-weight: bold;
}

.post-tile-votes {
  font-weight: bold;
}

.small-post-tile {
  height: 400px;
  width: 340px;
}

.small-post-tile a {
  text-decoration: none;
  color: var(--text-color);
}

.small-post-tile img {
  width: 340px;
  height: 200px;
  margin: 0;
}

.small-tile-image {
  position: relative;
  width: 100%;
  text-align: right;
}

.small-tile-image div {
  position: absolute;
  width: 100%;
  bottom: 13px;
  right: 6px;
}

.small-tile-image div span {
  text-transform: uppercase;
  padding: 3px 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
}

.post-tile-tag {
  display: inline-block;
  box-sizing: border-box;
  color: #66affc;
  height: 30px;
  border: 1px solid #a0cffd;
  background-color: #eff8ff;
  border-radius: 5px;
  font-size: 13px;
  padding: 0 10px;
  margin-right: 9px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.post-tile-tag-list {
  height: 34px;
  overflow: hidden;
}