.resources-page {
  box-shadow: 0 0 15px var(--shadow);
  background-color: white;
  padding: 10px 30px 50px 30px;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  color: #292929;
}

.resources-search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.resources-search h2,
.encyclopedia h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.resources,
.search {
  width: 100%
}

.search {
  margin-top: 16px;
}

.encyclopedia {
  text-align: center;
  margin-top: 40px;
}

.encyclopedia-slides {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  width: 100%;
  margin: 0 auto;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}

.slide .name {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.slide img {
  width: 175px;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 15px var(--shadow);
  cursor: pointer;
}

.language-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
}

.language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 15px var(--shadow);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
}

.language-button:first-of-type {
  margin-right: 35px;
}

.language-button-active {
  background-color: var(--text-color);
  color: white;
}

.toggle-message {
  width: 60%;
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.enlarged-slide {
  position: fixed;
  z-index: 2;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid var(--text-color);
}

.enlarged-slide img {
  width: 100%;
  display: block;
}

.enlarged-slide .close-button,
.enlarged-slide .next-button,
.enlarged-slide .previous-button {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 15px var(--shadow);
  cursor: pointer;
  position: fixed;
}

.enlarged-slide .close-button {
  top: 0;
  right: -40px;
  color: #9b9b9b;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}

.enlarged-slide .next-button,
.enlarged-slide .previous-button {
  top: 50%;
  color: var(--text-color);
  font-size: 30px;
  line-height: 28px;
}

.enlarged-slide .next-button {
  right: -40px;
}

.enlarged-slide .previous-button {
  left: -40px;
}

@media only screen and (min-width: 500px) {
  .resources-page {
    padding: 30px 50px 80px 50px;
  }

  .resources,
  .search {
    width: 50%
  }

  .resources {
    padding-right: 30px;
  }

  .search {
    padding-left: 30px;
  }

  .resources-search {
    flex-direction: row;
  }

  .encyclopedia-slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 710px) {
  .resources-page {
    max-width: 700px;
  }

  .encyclopedia-slides {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1080px) {
  .resources-page {
    max-width: 1080px;
  }

  .encyclopedia-slides {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .language-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .button-container {
    margin-bottom: 0;
  }

  .enlarged-slide {
    width: 50%;
  }
}

@media only screen and (min-width: 1410px) {
  .resources-page {
    max-width: 1060px;
    margin-right: 20px;
  }
}