.single-post {
  box-shadow: 0 0 15px var(--shadow);
  background-color: white;
  max-width: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  color: #292929;
  margin: 0 20px;
}

.single-post p {
  font-size: 22px;
}

.single-post a {
  color: var(--text-color);
}

.single-post a:hover {
  color: #51adfb;
}

.single-post h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.single-post p, ul, ol {
  line-height: 32px;
}

.post-info-top {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #8ea0ac;
  margin-top: -20px;
}

.single-post img {
  max-width: 100%;
}

.single-post hr {
  color: #e6e3e4;
  background-color: #e6e3e4;
  border: none;
  height: 1px;
}

.single-post .dtube-image {
  width: 100%;
}

.single-post-stats-container {
  margin-top: 30px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.single-post-footer-value,
.single-post-footer-votes {
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
}

@media only screen and (min-width: 710px) {
  .single-post {
    max-width: 700px;
    margin: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .single-post {
    max-width: 1080px;
  }
}

@media only screen and (min-width: 1410px) {
  .single-post {
    max-width: 1060px;
    margin-right: 20px;
  }
}