.single-post {
  box-shadow: 0 0 15px #d3ebfe;
  background-color: white;
  max-width: 1060px;
  margin-right: 20px;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  color: #292929;
}

.single-post a {
  color: #292929;
  /*border-bottom: 2px solid var(--text-color);*/
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.single-post a:hover {
  text-decoration-color: #292929;
}

.single-post h1 {
  /*font-family: Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.single-post p, ul, ol {
  line-height: 30px;
}

.post-info-top {
  font-size: 14px;
  /*margin-top: -20px;*/
}

.single-post img {
  max-width: 100%;
}