body {
  --text-color: #2699FB;
  --tile-title: #134c7d;
  --gray-text: #292929;
  --background-color: #f0f0f0;
  --nav-bar-color: #00bcc1;
  --nav-bar-light: #0ad3d6;
  --shadow: #c7c7c7;
  --dark-shadow: #b1b1b1;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
